.section2{
    
    margin: 3rem 0rem;
    width: 100vw;
    height: auto;
    
    
    display: flex;
   
    flex-direction: column;
    align-items: center;
   
    
    justify-content: center;
}

.section2 .heading{
    width: 60%;
   
    
    margin: 2.5rem 0rem;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
 .section2 .heading h1{
    font-family: "Abril Fatface", serif;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    color: black;
}
.section2 .heading p{
    font-size: 20px;
    line-height: 25px;
    
  color :rgb(108, 117, 125);
}



@media (max-width: 900px){

 .section2 .heading{
    width: 100%;
    /* background-color: rebeccapurple; */
 }



}


@media (min-width:200px) and (max-width: 600px){

    
   .section2 .heading h1{
        font-size: 40px;
        
        line-height: 50px;
    }
   
   
   
   }
   
.sliders{
    width: 70vw;
    height: auto;
    
    
}



  
@media (max-width:700px) {

    
    .sliders{
        width: 100%;
        
    }
   
   }
    
   
   
   