.section1{
    
    margin: 3rem 0rem;
    width: 100vw;
    height: auto;
    
    
    display: flex;
   
    flex-direction: column;
    align-items: center;
    background-color:  #fafafa;
    border: 1px solid #e0e0e0;
    justify-content: center;
    
    
   
    
}
.section1 .heading{
    width: 60%;
    /* border: 2px solid pink; */
    margin: 2.5rem 0rem;
    height: 30vh;
    text-align: center;
}
 .section1 .heading h1{
    
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
     font-family: "Abril Fatface", serif;;
}
 .section1 .heading p{
    font-size: 20px;
    line-height: 25px;
    color: 
    rgb(108, 117, 125);
}
.section1 .items{
    width: 80%;
    height: auto;
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 100px;
   justify-items: center;
   row-gap: 10px;
    
}

.section1 .item{

    width: 300px;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .section1 .item .icon{
    width: 70px;

}
  .section1 .item p{
    text-align: center;
}

@media (min-width: 100px) and (max-width:900px) {

    .section1 .heading{
        width: 100%;
        margin-top: 1rem;
        height: auto;
    }
    
        
        
        
        
        
    
}